/* GLOBAL RULES */

/* Sélecteur universel, à utiliser avec parcimonie */
* {
  box-sizing: border-box;
}

body {
  font-family: "Trip Sans Med", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 30px;
}

.orange-trip {
  color: #ff5d5d;
}

/* H2 */

h2 {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 28px;
}

/* H3 */
h3 {
  font-size: 24px;
  margin-bottom: 35px;
}

/* HEADER */

header {
  padding: 9px 0;
}

header > div {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header img {
  height: 45px;
}

.left-header div {
  /* background-color: red; */
  width: 350px;
  height: 40px;
  border: solid 2px #e0e0e0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-left: 30px;
  box-sizing: border-box;
}

.left-header input {
  width: 90%;
  border: none;
  outline: none;
}

.right-header {
  display: flex;
  align-items: center;
  width: 445px;
  border: solid red 1px;
  justify-content: space-between;
}

.right-header button {
  width: 150px;
  height: 50px;
  font-family: inherit;
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
}

/* MAIN */

main {
  padding-top: 45px;
}

.menu {
  display: flex;
}

.menu > div {
  border: solid black 1px;
  flex: 1;
  height: 66px;
  padding: 17px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.menu > div:not(:last-child) {
  margin-right: 10px;
}

.menu > div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.menu span {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 3 Images */

.images {
  width: 1138px;
  height: 432px;
  /* border: solid black 1px; */
  margin-top: 50px;
  display: flex;
}

.images .col-1 {
  flex: 1;
  height: 100%;
  /* border: solid green 1px; */
}

.images .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.images .col-2 {
  width: 448px;
  height: 100%;
  /* border: solid red 1px; */
}

.images .col-2 img {
  width: 100%;
  height: calc(50% - 3px / 2);
  object-fit: cover;
}

.images img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Nav under image */

.nav-under-img {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-under-img span:hover {
  text-decoration: underline;
}

/*bloc informations */

.informations p {
  height: 172px;
  width: 550px;
  font-size: 20px;
  text-justify: auto;
  line-height: 24px;
  font-family: Georgia, sans-serif;
  color: #333333;
}

.paris-unmissable {
  display: flex;
  justify-content: space-between;
  height: 1000px;
}

.paris-unmissable p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}

.text-column1 p {
  font-size: 16px;
}

.image-column2 {
  width: 840px;
  height: 330px;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  /* Pour enlever la barre de défilement sur IE et Firefox */
  -ms-overflox-style: none;
  scrollbar-width: none;
}

/* Pour enlever la barre de défilement sur Chrome */
.image-column2::-webkit-scrollbar {
  display: none;
}

.image-column2 img {
  width: 269px;
  height: 204px;
}

.image-column2 > div:not(:last-child) {
  margin-right: 16px;
}

.image-column2 p {
  font-size: 12px;
}

.image-column2 h4 {
  margin-top: 10px;
  height: 40px;
}

.louvre-museum,
.effeil-tower,
.arc-de-triomphe,
.notre-dâme,
.rodin-museum,
.sacré-coeur {
  position: relative;
}

.circle {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-plain {
  width: 10px;
  height: 10px;
  background: #04a96c;
  border-radius: 50%;
  margin-right: 1px;
}

.dots-non-plain {
  width: 10px;
  height: 10px;
  background: white;
  border: black solid 1px;
  border-radius: 50%;
  margin-right: 1px;
}

.dots {
  display: flex;
  height: 20px;
}

.note {
  margin-left: 3px;
}
footer {
  width: 1497px;
  height: 101px;
  background-color: #f9f1ec;
}

footer img {
  width: 45px;
  height: 45px;
}

.footer-informations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-informations img {
  margin-right: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* MEDIA QUERIES */

/* PA partir de 1184px */

@media (min-width: 1184px) {
  .menu div:nth-child(7),
  div:nth-child(8) {
    display: none;
  }
}

@media (min-width: 1184px) {
  .menu div:nth-child(7),
  div:nth-child(8) {
    overflow: hidden;
    flex-shrink: 0;
  }
}

/* Apartir de 1024px */

@media (max-width: 1024px) {
  .right-header span {
    display: none;
  }
}

@media (max-width: 1024px) {
  .right-header {
    width: 300px;
  }
}
